.Wrapper
  .Main
    .MainImage
      .content
        %h2.content__title
          グラフィックでゲームを楽しもう！
        %br
        %p.content__text
          FGAMEでゲーム背景を共有しよう
          %br
          ゲームを景色から探してみよう！！
  .UpGame
    .UpGames
      %h2 【新着一覧】
      .UpGames__Boxes
        = render @games
